<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwpu.um.dao.AddressDao">
	<resultMap id="BaseResultMap" type="com.nwpu.um.bean.AddressBean">
		<id column="addr_Id" property="addrId" jdbcType="BIGINT" />
		<result column="addr_uiid" property="uiid" jdbcType="VARCHAR" />
		<result column="addr_idNumber" property="idNumber" jdbcType="VARCHAR" />
		<result column="addr_idType" property="idType" jdbcType="VARCHAR" />
		<result column="addr_phone" property="phone" jdbcType="VARCHAR" />
		<result column="addr_consignee" property="consignee" jdbcType="VARCHAR" />
		<result column="addr_province" property="province" jdbcType="VARCHAR" />
		<result column="addr_city" property="city" jdbcType="VARCHAR" />
		<result column="addr_county" property="county" jdbcType="VARCHAR" />
		<result column="addr_town" property="town" jdbcType="VARCHAR" />
		<result column="addr_detailAddr" property="detailAddr" jdbcType="VARCHAR" />
		<result column="addr_email" property="email" jdbcType="VARCHAR" />
		<result column="addr_isDefaultAddr" property="isDefaultAddr" jdbcType="VARCHAR" />
		<result column="addr_createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="addr_updateTime" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="column_field">
		<!--数据库命名规范应为下划线命名方式，如t_uiid 数据库字段 as JavaBean字段 -->
		addr_Id as 'addrId',
		addr_uiid as 'uiid',
		addr_idNumber as 'idNumber',
		addr_idType as 'idType',
		addr_phone as 'phone',
		addr_consignee as 'consignee',
		addr_province as 'province',
		addr_city as 'city',
		addr_county as 'county',
		addr_town as 'town',
		addr_detailAddr as 'detailAddr',
		addr_email as 'email',
		addr_isDefaultAddr as 'isDefaultAddr',
		addr_createTime as 'createTime',
		addr_updateTime as 'updateTime'
	</sql>
	<select id="queryAddress" parameterType="java.lang.String"
		resultType="com.nwpu.um.bean.AddressBean">
		select
		<include refid="column_field" />
		from um_address
		where 1 = 1
		<if test="uiid != null">
			and addr_uiid = #{uiid,jdbcType=VARCHAR}
		</if>
		order by addr_createTime desc
	</select>
</mapper>
